body {
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    color: black;

}
.content {
    width: 100%;
    display: inline-block;
}


.header {
    padding: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #4d82e4;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 20px
}

.h2 {
    margin-left: 20px
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: white
}

.header nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 25px;
    color:beige;

}

.mainpicture {
    height:900px;
    width:100%
}



.hero {
    height: 0px;
    width: 100%;
    margin-bottom:0px;
    background-size: cover;
    background-position: center;
}

.row {
    margin-left: 0px;


}

.subtitlemainpicture{
    position: absolute;
    bottom: 10%;
    right:5%;
    color:white;
    font-size: 40px

}
.row p {
    text-align: left;
    margin-left: 500px;
    flex-wrap: wrap;
    margin-right: 200px;

}

.work1 {
    margin-left: 500px;
    margin-right: 500px;
    height: 150px;
    width: 65%;
    object-fit: contain;
    position: relative;
    
}


.footer {
    padding: 15px;
    margin-left: 500px ;
    float: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: row;

}

